.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s all;
  padding: 20px;
}
button {
  cursor: pointer;
}
* {
  margin: 0;
  padding: 0;
}

.todo-item {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding: 16px;
  min-width: 400px;
  max-width: 500px;
  margin: 4px 0;
  transition: 0.3s all;
}

.todo-item:hover {
  background-color: rgba(143, 143, 143, 0.089);
}

.del-btn,
.add-btn {
  padding: 6px 16px;
  border: 1px solid tomato;
  font-weight: 600;
  color: red;
  align-self: center;
  border-radius: 4px;
  transition: 0.2s;
}

.del-btn:hover {
  background-color: red;
  color: white;
}

.add-btn {
  background-color: lightgreen;
  color: black;
  border: none;
}

.add-todo-container {
  display: flex;
  align-items: center;
  max-width: 400px;
  justify-content: center;
  gap: 16px;
  margin: 0 auto;
  margin-top: 16px;
  transition: 0.3s all;
}

.add-todo-input {
  padding: 6px 10px;
  background-color: rgba(220, 220, 220, 0.336);
  border: 1px solid gray;
  outline: none;
  border-radius: 8px;
  width: 300px;
}

.load-btn {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  background-color: goldenrod;
  transition: 0.3s all;
}

.load-btn:hover {
  background-color: rgb(255, 174, 0);
  color: white;
  text-shadow: 0px 0px 10px black;
}

.load-btn:active {
  transform: scale(0.98);
}

.clear-btn {
  background-color: red;
}

.d-flex {
  margin: 10px 0;
  display: flex;
  gap: 16px;
  align-items: center;
  transition: 0.2s all;
}

.todo-items-list-container {
  padding: 0 24px;
  transition: 0.2s all;
  margin: 0;
  list-style-type: none;
}

.todo-list-container {
  padding: 0;
  background-color: rgba(179, 179, 179, 0.103);
  border-radius: 8px;
  height: 400px;
  width: 500px;
  overflow-y: auto;
  margin-top: 20px;
}

.filter-btn {
  padding: 4px 12px;
  border: none;
  border-radius: 4px;
  background-color: rgb(187, 187, 187);
  transition: 0.3s;
  margin: 0 8px;
}

.filter-btn:hover,
.active-filter-btn {
  background-color: orange;
  color: white;
}

.active-filter-btn {
  transform: scale(1.3);
  background: linear-gradient(orange, tomato);
  text-shadow: 1px 2px 5px black;
}

.sticky-bar {
  position: sticky;
  top: 0;
  background-color: gray;
  margin: 0;
  padding: 10px 16px;
}

.no-todos-container {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
  font-size: 20px;
  transition: 0.3s;
}
